name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # 1. Download the code from the repo
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. Log in to DockerHub using the secrets we created
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 3. Build and Push the Docker image
    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        # Naming the image 'udhay36232/vite-react-app:latest'
        tags: ${{ secrets.DOCKER_USERNAME }}/vite-react-app:latest